.banner {
  height: 160px;
  width: 100%;
  margin-top: 20px;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.banner-pic {
  width: 1041px;
  height: 160px;
  margin: 0 auto;
  background: url(../img/banner02.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.banner-pic ul {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-shadow: 3px 3px 2px #CDB9B9;
  font-size: 16px;
}
.banner-pic ul li {
  margin-top: 5px;
}
.banner-pic ul li:last-child {
  font-size: 14px;
}
.banner-pic ul li:first-child {
  margin-top: 30px;
}
.bp-master {
  height: 50px;
  background: url(../img/jason-hu.jpg) no-repeat center center;
}
.bp-ppt {
  margin-top: 20px;
}
.bp-ppt-box {
  width: 1041px;
  margin: 0 auto;
}
.bp-pic-box li {
  margin-top: 15px;
}
.bp-pic-box img {
  display: block;
  width: 100%;
}
.interested {
  margin-top: 85px;
}
.interest-box {
  width: 1041px;
  margin: 0 auto;
}
.interest-btn {
  text-align: center;
  cursor: pointer;
}
.interest-btn span {
  padding: 10px 23px;
  background-color: #ec2100;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
.interest-number {
  margin-top: 27px;
  text-align: center;
  font-size: 16px;
}
.intere-user-container {
  width: 600px;
  margin: 30px auto;
  overflow: hidden;
}
.intere-user-container li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.intere-user-container li img {
  width: 100%;
  height: 100%;
}
.interest-user-more {
  display: flex;
}
.interest-user-more span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #0f7ff7;
  margin-right: 5px;
  margin-top: 23px;
}
.interest-user-more span:first-child {
  margin-left: 14px;
}
.comment {
  clear: both;
  width: 1041px;
  margin: 50px auto;
}
.coment-news-text {
  clear: both;
  width: 80%;
  margin: 50px auto 10px auto;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}
.coment-news-text b {
  border: 1px solid #eee;
  display: inline-block;
  height: 12px;
}
.coment-news-text span {
  position: relative;
  padding-bottom: 5px;
}
.coment-news-text span:first-child {
  margin-right: 18px;
}
.coment-news-text span:last-child {
  margin-left: 18px;
}
.coment-news-text i {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0f7ff7;
}
.comment-textarea {
  width: 80%;
  margin: 0 auto;
}
.comment-textarea textarea {
  width: 98.6%;
  padding: 5px;
  border: 1px solid #eee;
}
.publish {
  text-align: right;
  width: 100%;
  margin-top: 10px;
}
.publish span {
  padding: 4px 20px;
  background-color: #0f7ff7;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}
.comment-text {
  width: 80%;
  margin: 50px auto 0 auto;
}
.comment-title {
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
.comment-content {
  display: flex;
  margin-top: 20px;
}
.comment-content ul {
  width: 100%;
}
.comment-user-pic {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.comment-user-pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.comment-user-name {
  font-weight: bold;
}
.comment-time,
.comment-reply {
  float: right;
}
.comment-ctt {
  font-size: 15px;
  color: #555;
  margin-top: 5px;
}
.comment-time {
  margin-right: 10px;
  color: #b3b3b3;
}
.comment-reply {
  color: #4fa1f9;
}
.reply-textarea {
  margin-top: 10px;
}
.reply-textarea textarea {
  width: 100%;
  border: 1px solid #eee;
  padding: 5px;
}
.reply-true {
  text-align: right;
}
.reply-true span {
  padding: 4px 20px;
  background-color: #0f7ff7;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}
